<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<extensions>
		<add assembly="NLog.Targets.KafkaAppender"/>
	</extensions>
	<targets>
		<target xsi:type="KafkaAppender"
					name="kafkarequesttrace"
					topic="webapitracelog"
					brokers="10.0.20.106:9092"
					debug="false"
					async="false"
        >
			<layout xsi:type="JsonLayout">
				<attribute name="Time" layout="${longdate}" />
				<attribute name="Tag" layout="${logger}" />
				<attribute name="Host" layout="${event-properties:item=Host}"/>
				<attribute name="Path" layout="${event-properties:item=Path}"/>
				<attribute name="Method" layout="${event-properties:item=Method}"/>
				<attribute name="TraceId" layout="${event-properties:item=TraceId}"/>
				<attribute name="RequestInfo" layout="${event-properties:item=RequestInfo}"/>
				<attribute name="ResponseInfo" layout="${event-properties:item=ResponseInfo}"/>
				<attribute name="ResponseCode" layout="${event-properties:item=ResponseCode}"/>
				<attribute name="StartTicks" layout="${event-properties:item=StartTicks}"/>
				<attribute name="StopTicks" layout="${event-properties:item=StopTicks}"/>
				<attribute name="TakeTicks" layout="${event-properties:item=TakeTicks}"/>
			</layout>
		</target>
		<target xsi:type="KafkaAppender"
					name="kafkawebapilog"
					topic="webapilog"
					brokers="10.0.20.106:9092"
					debug="false"
					async="false"
        >
			<layout xsi:type="JsonLayout">
				<attribute name="Time" layout="${longdate}" />
				<attribute name="Tag" layout="${logger}" />
				<attribute name="Level" layout="${level:upperCase=true}"/>
				<attribute name="Code" layout="${event-properties:item=Code}"/>
				<attribute name="Host" layout="${aspnet-request-headers:HeaderNames=Host:ValuesOnly=true}" />
				<attribute name="Path" layout="${aspnet-request-url:IncludeScheme=false:IncludeHost=false:IncludePort=false:IncludeQueryString=true}" />
				<attribute name="TraceId" layout="${aspnet-request-headers:HeaderNames=TraceId:ValuesOnly=true}"/>
				<attribute name="Msg" layout="${message}" escapeUnicode="false"/>
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="Microsoft*" minlevel="Information" writeTo="kafka" final="true"/>
		<logger name="swmsweb*" minlevel="Information" writeTo="kafkawebapilog" />
		<logger name="SkyWalkingAgentExtension*" minlevel="Trace" writeTo="kafkarequesttrace" />
	</rules>
</nlog>