<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Targets.KafkaAppender"/>
  </extensions>
  <targets>
    <target xsi:type="KafkaAppender"
				name="kafka"
				topic="kafka-clickhouse"
				brokers="10.0.20.106:9092"
				debug="false"
				async="false"
        >
      <layout xsi:type="JsonLayout">
        <attribute name="Time" layout="${longdate}" />
        <attribute name="Tag" layout="${logger}" />
        <attribute name="Level" layout="${level:upperCase=true}-${aspnet-request-headers:HeaderNames=TraceId:ValuesOnly=true}"/>
        <attribute name="Msg" layout="${aspnet-request-headers:HeaderNames=Host}-${message}" escapeUnicode="false"/>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Information" writeTo="kafka" />
  </rules>
</nlog>