################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/ComponentsSelectTest.Caller/obj
/src/ComponentsSelectTest.Caller/bin/Debug/netcoreapp3.1
/src/ComponentsSelectTest.ServiceA/obj
/src/ComponentsSelectTest.ServiceA/logs
/src/ComponentsSelectTest.ServiceA/bin/Debug/netcoreapp3.1
/src/ComponentsSelectTest.ServiceB/obj
/src/ComponentsSelectTest.ServiceB/logs
/src/ComponentsSelectTest.ServiceB/bin/Debug/netcoreapp3.1
/src/ComponentsSelectTest.Caller/-20210331
/src/ComponentsSelectTest.Caller/-20210401
/ComponentsSelectTest.ServiceD/obj
/ComponentsSelectTest.ServiceD/logs
/ComponentsSelectTest.ServiceD/bin/Debug/netcoreapp3.1
/ComponentsSelectTest.ServiceF/obj
/ComponentsSelectTest.ServiceF/bin/Debug/netcoreapp3.1
/src/ComponentsSelectTest.Caller/-20210810
/src/ComponentsSelectTest.Caller/-20210413
/src/ComponentsSelectTest.Caller/-20210412
/src/ComponentsSelectTest.ServiceD/obj
/src/ComponentsSelectTest.ServiceD/logs
/src/ComponentsSelectTest.ServiceD/bin/Debug/netcoreapp3.1
/src/ComponentsSelectTest.ServiceF/obj
/src/ComponentsSelectTest.ServiceF/bin/Debug/netcoreapp3.1
